<div class="content">
  <div class="photo">
    <%= image_tag('photo_handmade.png', alt: t('.header')) %>
  </div>

  <div class="text">
    <%= image_tag('header_handmade.gif', alt: t('.header')) %>

    <div>
      <p><%= t('.paragraph') %></p>
      <p><%= t('.process_header') %></p>
      <ul>
        <li><%= t('.list_item1') %></li>
        <li><%= t('.list_item2') %></li>
        <li><%= t('.list_item3') %></li>
        <li><%= t('.list_item4') %></li>
        <li><%= t('.list_item5') %></li>
        <li><%= t('.list_item6') %></li>
        <li><%= t('.list_item7') %></li>
        <li><%= t('.list_item8') %></li>
        <li><%= t('.list_item9') %></li>
        <li><%= t('.list_item10') %></li>
        <li><%= t('.list_item11') %></li>
        <li><%= t('.list_item12') %></li>
        <li><%= t('.list_item13') %></li>
      </ul>
    </div>
  </div>
</div>
