<!DOCTYPE html>
<html>
  <head>
    <title><%= t('site.title') %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="<%= [controller_name.dasherize, action_name.dasherize].join('-') %>">
    <div class="outer-container">
      <%= render 'menu' %>
      <div class="inner-container">
        <%= yield %>
      </div>
    </div>
    <div class="footer">
      <%= image_tag 'footer.gif', alt: t('site.title') %>
    </div>
  </body>
</html>
