<div class="content">
  <div class="photo">
    <%= image_tag('photo_natural.png', alt: t('.header')) %>
  </div>
  <div class="text">
    <p><%= t('.paragraph1') %></p>
    <p><%= t('.paragraph2') %></p>
    <%= image_tag('header_sustainability.gif') %>
    <p><%= t('.paragraph3') %></p>
    <p><%= t('.paragraph4') %></p>
    <p class="footnote"><%= t('.paragraph4_footnote') %></p>
    <%= image_tag('header_ingredients.gif') %>
    <p><%= t('.paragraph5') %></p>
    <ul>
      <li><%= t('.list_item1') %></li>
      <li><%= t('.list_item2') %></li>
      <li><%= t('.list_item3') %></li>
      <li><%= t('.list_item4') %></li>
      <li><%= t('.list_item5') %></li>
      <li>
        <%= t('.list_item6') %>
        <br>
        <%= t('.list_item6_footnote') %>
      </li>
    </ul>
  </div>
</div>
